/* uview-plus 自定义主题变量 */

// 主题色
$u-primary: #ba2636;
$u-warning: #ba2636;
$u-success: #ba2636;
$u-error: #ba2636;
$u-info: #ba2636;

// 文字颜色
$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;

// 背景颜色
$u-bg-color: #f3f4f6;

// 边框颜色
$u-border-color: #e4e7ed;